@import-normalize;

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap:5px
}

.task_Section_Container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.side_Bar_Container{
  max-width: 300px;
  width: 100%;
  height: 100%;
  outline: auto;
  background-color: #FFFFFF;
}

.header_Add_Task_Container{
  display: flex;
  width: 100%;
  height: 6.063rem;
  outline: auto;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #FFFFFF;
}

.add_task_Container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 192px;
  width: 100%;
  flex-direction: column;
}

.theme_Container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 48px;
  margin-top: 435px;
  margin-bottom: 8px;
  margin-left: 24px;
  background-color: #F4F7FD;
  width: 250px;
  border-radius: 50px;
}

.show_hide_SideBar_Container{
  display: flex;
  width: 276px;
  height: 48px;
  margin-bottom: 32px;
  gap:15px;
  cursor: pointer;
}

.slide_Container{
  width: 40px;
  height: 20px;
  border-radius: 15px;
}

.icon_Hide_Img{
  width:18px;
  height: 16px;
}
.icon_Light_Theme_Img,
.icon_Dark_Theme_Img{
  width: 18px;
  height: 18px;
}
.hide_SideBar_Text{
  margin: 0 auto;
  font-size: 1rem;
}

.create_a_board_Text{
  display: flex;
  align-items: center;
  height: 48px;
  margin-left: 30px;
  cursor: pointer;
}

.logoDark_Img{
  margin-top: 34px;
  margin-left: 34px;
}

.board_Container{
  margin-top: 112px;
}

.all_Boards_Text{
  margin-left: 32px;
  margin-bottom: 19px;
}


.show_hide_SideBar_Container > :first-child{
  margin-left: 32px;
}

.board_Button{
  height: 48px;
  margin-left: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;

}

.board_Button:hover,
.create_a_board_Text:hover{
  background-color: #635FC7;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.task_Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #E4EBFA;
  outline: auto;
}

.board_Default_Empty_Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.add_Column_Button{
  width: 178px;
  height: 48px;
  background-color: #635FC7;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
/* Add Task Button*/

.add_Task{
  background-color: #635FC7;
  width: 192px;
  height: 48px;
  border:none;
  border-radius: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.add_Task:hover,
.add_Column_Button:hover{
  background-color: #A8A4FF;
}
/* Add Task Button*/


/* Slide Toggle */

.slide_Toggle {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch_Label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: #635FC7;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
}

.switch_Label .switch_Button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.slide_Toggle:checked + .switch_Label .switch_Button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}


/* End Slide Toggle */

/*
https://upmostly.com/tutorials/build-a-react-switch-toggle-component
*/

.task_Column{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.task_arr_Container{
  width: 100%;
  height: 100%;
}

.status_Name_Container{
  text-align: center ;
  width: 100%;
  outline: red auto;
}
.task_Title_Container{
 display: flex;
 flex-direction: column;
 gap:2rem;
}
.inner_Task_Column_Container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
}
.task_Title{
  width: 280px;
  height: 80px;
  outline: auto;
}

.list_label_Container{
  display: flex;
  flex-direction: column;
  outline: auto;
  width: 35%;
  z-index: 1;
  position: absolute;
  margin-top: 25%;
}

.list_label{

}

.add_Task_Container_Container{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 25%;
outline:auto;
position: relative;
}

.icon_Ellipsis_Container{
  outline: auto;
}